@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

body {
    font-family: 'XCharter', serif;
    color: #000;
    background-color: #f6f6f2;
}

@font-face {
    font-family: 'XCharter';
    font-style: normal;
    src: url('fonts/XCharter.woff2') format('woff2');
     font-display: swap;
     font-weight: 400;  
  }

@font-face {
    font-family: 'XCharter';
    font-style: normal;
    src: url('fonts/XCharter-Bold.woff2') format('woff2');
     font-display: swap;
     font-weight: 600;  
  }
/* :root {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: xx-large;
  
    color-scheme: light dark;
    color: #333333;
    background-color: #f6f6f2;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
   */